<div style="height: 100%; display: flex; flex-direction: column;">
  <div><h1>The Golden Path</h1></div>
    <div style="display: flex; flex-direction: column">
    <%= form_with(scope: :user, url: session_path(:user), data: { turbo: false }) do |f| %>
      <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: true %>
      </div>

      <div>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", required: true %>
      </div>

        <% if devise_mapping.rememberable? %>
          <%= f.hidden_field :remember_me, value: true %>
        <% end %>

    <div>
      <%= f.submit "Log in" %>
    </div>
  <% end %>
    </div>


  <p>
    <%= link_to "Sign up now", new_user_registration_path, class: "button" %>
  </p>
</div>